.box {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    font-size: 25px;
    color: white;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
    margin-left: 100px;
}

.blue{
    background-color: darkblue;
    margin-left: 200px;
}