html,
        body{
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            font-family: Helvetica,sans-serif;
        }

        .banner{
            background: black;
            height: 60px;
        }

        .banner_text{
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            font-family: 'Bona Nova', serif;
            text-align: center;
            padding-top: 20px ;
            font-size: larger;
        }

        .list-items{
            background-color: #c7c7c7 ;
            height: 40px;
            margin-top: 0;
        }
        
        .item{
            text-decoration: none;
            font-family: 'Bona Nova', serif;
            margin:60px;
            color: black;    
            font-size: large;    
        }

        .items{
            padding-top: 10px;
        }

        .luxury_watches{
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            display: block;
            width: 40%;
            height: auto;
        }

        .box-item{
            border: 2px solid ;
            text-align: center ;
            height: 100%;
            display: table-cell;
            object-fit: cover;
            width: 240px;
            height: 240px;
            margin-inline-start: 50px;
            margin-inline-end: 50px;
            margin-block: 50px;
            background-color: #fafafa;
            border: 3px solid #E9DCBE;
            border-radius: 20px ;
            transition: box-shadow 0.8s ease;
        }

        .box-item:hover{
            box-shadow: 5px 8px 10px  rgba(0, 0, 0, 0.15);
        }

        .buy{
            text-decoration: none;
            text-align: center;
            margin-left: 33%;
            color: black;
            font-size: 30px;
            font-family: 'Bona Nova', serif;
        }

        .buy:hover{
            color: red;
        }

        .buy:active{
            opacity: 0.6;
        }
