.box {
    display: grid;
    width: 100px;
    height: 100px;
    font-size: 25px;
    color: white;
    place-items: center;
    
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue{
    background-color: darkblue;
}